{% extends "__base__.html" %}
{% block title %}{% endblock title %}
{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</div>
        {% endfor %}
    {% endif %}

<form action="" method="post">
{% csrf_token %}
    <div class="dashboard-content border-dashed p-3 m-4 view-height">

        <div class="mt-4 ml-4 mr-4">
            <div class="row border-bottom border-3">
                <div class="col"><h3 class="color-header text-uppercase">Edycja
                    przepisu</h3></div>
                <div class="col d-flex justify-content-end mb-2">
                    <button type="submit"
                            class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">
                        Zapisz
                    </button>
                </div>
            </div>

            <table class="table borderless">
                <tbody>
                <tr class="d-flex">
                    <th scope="row" class="col-2">Nazwa Przepisu</th>
                    <td class="col-7" style="padding:15px 60px;">
                        <input class="w-100 p-1" name="name" value="{{ recipe.name }}">
                    </td>
                </tr>
                <tr class="d-flex">
                    <th scope="row" class="col-2">Opis przepisu</th>
                    <td class="col-7" style="padding:15px 60px;"><textarea class="w-100 p-1" rows="5" name="dish_desc">{{ recipe.dish_description }}</textarea>
                    </td>
                </tr>
                <tr class="d-flex">
                    <th scope="row" class="col-2">Przygotowanie (minuty)</th>
                    <td class="col-3" style="padding:15px 60px;">
                        <input class="p-1" type="number" name="time" value="{{ recipe.preparation_time }}">
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="row d-flex">
                <div class="col-5 border-bottom border-3"><h3
                        class="text-uppercase">Sposób przygotowania</h3></div>
                <div class="col-2"></div>
                <div class="col-5 border-bottom border-3"><h3
                        class="text-uppercase">Składniki</h3></div>
            </div>
            <div class="row d-flex">
                <div class="col-5 p-4">
                    <textarea class="w-100 p-1" rows="10" name="description">{{ recipe.description }}</textarea>
                </div>
                <div class="col-2"></div>

                <div class="col-5 p-4">
                    <textarea class="w-100 p-1" rows="10" name="ingredients">{{ recipe.ingredients }}</textarea>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}